*{
	box-sizing: border-box;
}

body{
	max-width: 960px;
	margin: 10px auto;
	padding: 10px;
	background-color: #1c222b;
	color: #ccc;
	font-family: consolas, monospace;
}

section{
	padding: 15px;
}

.btnArea{
	display: grid;
	grid-template-columns: repeat(13, 1fr);
}

.timeBtn {
  display: flex;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  border: 2px solid;
  font-size: 24px;
  font-weight: bold;
  background: none;
}

.timeBtn[active="true"]{
	color: limegreen;
}

.timeBtn[active="true"]:hover{
	background-color: limegreen;
	color: #1c222b;
	border-color: white;
}

.timeBtn[active="false"]{
	color: gray;
}

.timeBtn[active="false"]:hover{
	color: white;
	background-color: gray;
}

#start{
	color: dodgerblue;
}

#start:hover{
	color: white;
	background-color: dodgerblue;
}

#questionArea{
	display: flex;
	padding: 25px;
	justify-content: center;
	align-items: center;
}

#question{
	font-size: 24px;
	margin-right: 1em;
}

#answer{
	font-size: 24px;
	width: 100px;
	
}

#result{
	margin: 20px 0;
}

.correct, .incorrect{
	font-size: 24px;
}

.correct{
	color: green;
}

.incorrect{
	color: red;
}

input{
	background: none;
	border: none;
	padding: 1em;
	color: #ccc;
}

hr{
	color: dodgerblue;
}